services:
  retrieve-service:
    build:
      context: .
    image: h-alice/tcc-live-tracker  # Image name for the built service
    container_name: live-tracker
    env_file:
      - .env # Load environment variables from the .env file
    restart: unless-stopped
    volumes:
      - ./data:/app/data
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
      